
services:
  postgres:
    image: postgres:16
    container_name: coach_track_postgres
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: coach_track
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
